---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SiteTitle.astro';

const props = Astro.props as Props;
const currentPath = Astro.url.pathname;
---

<div
  class="bg-gradient-to-r
    from-emerald-900/80 to-indigo-900/70
    dark:from-emerald-900/95 dark:to-indigo-900/95
    flex flex-row justify-between
    rounded-lg px-2 gap-8">
  <Default {...props} />
  <div class="flex flex-row gap-4 items-center">
    <a
      class:list={[
        'nav-link text-sm no-underline px-2 py-1 rounded-md',
        'hover:text-primary hover:scale-105 hover:bg-cyan-500/20',
        'transition-all duration-300',
        {
          'text-primary bg-cyan-500/20':
            currentPath === `/${props.locale}` ||
            currentPath === `/${props.locale}/`,
        },
      ]}
      href={`/${props.locale}`}>首页</a
    >
    <a
      class:list={[
        'nav-link text-sm no-underline px-2 py-1 rounded-md',
        'hover:text-primary hover:scale-105 hover:bg-cyan-500/20',
        'transition-all duration-300',
        {
          'text-primary bg-cyan-500/20': currentPath.startsWith(
            `/${props.locale}/courses`
          ),
        },
      ]}
      href={`/${props.locale}/courses`}>课程</a
    >
    <a
      class:list={[
        'nav-link text-sm no-underline px-2 py-1 rounded-md',
        'hover:text-primary hover:scale-105 hover:bg-cyan-500/20',
        'transition-all duration-300',
        {
          'text-primary bg-cyan-500/20': currentPath.startsWith(
            `/${props.locale}/blogs`
          ),
        },
      ]}
      href={`/${props.locale}/blogs`}>博客</a
    >
    <a
      class:list={[
        'nav-link text-sm no-underline px-2 py-1 rounded-md',
        'hover:text-primary hover:scale-105 hover:bg-cyan-500/20',
        'transition-all duration-300',
        {
          'text-primary bg-cyan-500/20': currentPath.startsWith(
            `/${props.locale}/about`
          ),
        },
      ]}
      href={`/${props.locale}/about`}>关于</a
    >
  </div>
</div>
