---
import { getLangFromPathname } from '@/utils/lang';

const currentPath = Astro.url.pathname;
const normalizedLocale = getLangFromPathname(Astro.url.pathname);

const navItems = [
  {
    href: `/${normalizedLocale}`,
    label: normalizedLocale === 'zh-cn' ? '首页' : 'Home',
    match: (path: string) =>
      path === `/${normalizedLocale}` || path === `/${normalizedLocale}/`,
  },
  {
    href: `/${normalizedLocale}/courses`,
    label: normalizedLocale === 'zh-cn' ? '课程' : 'Courses',
    match: (path: string) => path.startsWith(`/${normalizedLocale}/courses`),
  },
  {
    href: `/${normalizedLocale}/lessions`,
    label: normalizedLocale === 'zh-cn' ? 'Build Your Own' : 'Build Your Own',
    match: (path: string) => path.startsWith(`/${normalizedLocale}/lessions`),
  },
  {
    href: `/${normalizedLocale}/blogs`,
    label: normalizedLocale === 'zh-cn' ? '博客' : 'Blogs',
    match: (path: string) => path.startsWith(`/${normalizedLocale}/blogs`),
  },
];
---

<div class="flex flex-row gap-4 items-center">
  {
    navItems.map((item) => (
      <a
        class:list={[
          'btn btn-sm no-underline',
          'hover:text-primary-content hover:bg-primary/20',
          'transition-all duration-300',
          {
            'btn-ghost': !item.match(currentPath),
            'btn-active': item.match(currentPath),
            'btn-accent': item.match(currentPath),
          },
        ]}
        href={item.href}>
        {item.label}
      </a>
    ))
  }
</div>
