---
import Footer from './Footer.astro';
import '../app.css';
import SmartHeader from './Header.astro';
import type { SidebarItem } from '@/models/SidebarItem';
import type { Heading } from '@/models/Heading';
import { ClientRouter } from 'astro:transitions';
import { getFooterConfig } from '@/config/footer';
import GlobalConfirmDialog from '@/components/GlobalConfirmDialog.vue';
import GlobalToast from '@/components/GlobalToast.vue';
import { getLangFromUrl } from '@/i18n/utils';

interface Props {
  title: string;
  description: string;
  headings?: Heading[];
  sidebar?: SidebarItem | null | undefined;
}

const props = Astro.props as Props;
const { title, description } = props;

const lang = getLangFromUrl(Astro.url);
const footerConfig = getFooterConfig(lang);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="min-h-screen bg-gradient-to-br from-accent/5 to-primary/10">
    <SmartHeader />

    <div class="py-24 min-h-screen pb-96">
      <slot />
    </div>

    <Footer config={footerConfig} lang={lang} />
    <GlobalConfirmDialog client:load />
    <GlobalToast client:load />
    <ClientRouter />
  </body>
</html>
