---
import '../app.css';
import SmartHeader from './Header.astro';
import type { SidebarItem } from '@/models/SidebarItem';
import type { Heading } from '@/models/Heading';
import { ClientRouter } from 'astro:transitions';
import GlobalConfirmDialog from '@/components/GlobalConfirmDialog.vue';
import GlobalToast from '@/components/GlobalToast.vue';
import { getLangFromUrl } from '@/i18n/utils';
import { Footer } from '@coffic/cosy-ui';
import LinkUtil from '@/utils/link';
import app from '@/app';

interface Props {
    title: string;
    description: string;
    headings?: Heading[];
    sidebar?: SidebarItem | null | undefined;
}

const props = Astro.props as Props;
const { title, description } = props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body class="min-h-screen bg-gradient-to-br from-accent/5 to-primary/10">
        <SmartHeader />

        <div class="py-24 min-h-screen pb-96">
            <slot />
        </div>

        <Footer
            lang={lang}
            siteName={lang === 'zh-cn' ? '快易知' : 'KuaiYiZhi'}
            homeLink={lang === 'zh-cn' ? '/zh-cn/' : '/en/'}
            slogan={app.slogan}
            company={app.companyName}
            copyright={app.copyright}
            inspirationalSlogan={app.inspirationalSlogan}
            icp={app.icp}
            aboutLink={LinkUtil.getMetaLink(lang, 'about')}
            contactLink="https://github.com/CofficLab/FeedbackHub"
            termsLink={LinkUtil.getMetaLink(lang, 'terms')}
            techStackLink={LinkUtil.getMetaLink(lang, 'tech-stack')}
            historyLink={LinkUtil.getMetaLink(lang, 'our-story')}
            blogLink={LinkUtil.getBlogsLink(lang)}
            privacyLink={LinkUtil.getMetaLink(lang, 'privacy')}
            socialLinks={app.socialLinks}
            products={app.products}
        />
        <GlobalConfirmDialog client:load />
        <GlobalToast client:load />
        <ClientRouter />
    </body>
</html>
