---
import type { SidebarItem } from '@/models/Sidebar';
import AppLayout from './AppLayout.astro';

interface Props {
  title: string;
  description: string;
  sidebarItem: SidebarItem;
  hasSidebar: boolean;
  headings?: Array<{ depth: number; slug: string; text: string }>;
}

const {
  title,
  description,
  sidebarItem,
  headings = [],
  hasSidebar,
} = Astro.props;
---

<AppLayout
  title={title}
  description={description}
  template="doc"
  frontmatter={{
    title: title,
    description: description,
    template: 'doc',
  }}
  hasSidebar={hasSidebar}
  sidebar={sidebarItem}
  headings={headings}
  hidePageTitle={false}>
  <div class="markdown-content prose prose-slate dark:prose-invert max-w-none">
    <slot />
  </div>
</AppLayout>
