---
import { Image } from 'astro:assets';
import type { LangCode } from '@/i18n/trans';
import type { FooterConfig } from '@/config/footer';
import Link from '@/components/common/Link.vue';
import Banner from '@/components/common/Banner.vue';
import logo from '@assets/logo.png';

interface Props {
  config: FooterConfig;
  lang: LangCode;
}

const { config } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer class="bg-base-200/50 dark:bg-base-300/50 z-50 backdrop-blur-md">
  <div class="footer sm:footer-horizontal p-10 text-base-content">
    <aside
      class="flex flex-col items-center sm:items-start gap-2 place-self-center">
      <Link href={config.homeLink}>
        <div class="flex items-center gap-2">
          <Image src={logo} alt="Coffic Logo" class="h-8 w-8 fill-current" />
          <span class="text-xl font-bold">{config.siteName}</span>
        </div>
      </Link>
      <p class="text-sm opacity-70">{config.slogan}</p>
    </aside>

    {
      config.navGroups.map((group) => (
        <nav class="place-self-center text-center flex flex-col items-center">
          <h6 class="footer-title">{group.titleKey}</h6>
          {group.links.map((link) => (
            <Link href={link.href} external={link.external}>
              {link.text}
            </Link>
          ))}
        </nav>
      ))
    }
  </div>

  <Banner>
    {config.inspirationalSlogan}
  </Banner>

  <div class="divider m-0"></div>

  <div
    class="flex flex-col sm:flex-row justify-between items-center p-4 bg-base-200/50 text-base-content">
    <div class="flex items-center gap-2">
      <Image src={logo} alt="Coffic Logo" class="h-6 w-6 fill-current" />
      <p>
        © {currentYear}
        {config.company} - {config.copyright}
      </p>
    </div>

    <div class="flex gap-4 mt-4 sm:mt-0">
      {
        config.socialLinks.map((link) => (
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-ghost btn-sm p-1 hover:text-primary"
            title={link.name}>
            <link.icon class="w-5 h-5" />
            <span class="sr-only">{link.name}</span>
          </a>
        ))
      }
    </div>
  </div>

  {
    config.icp && (
      <div class="divider m-0"></div>

      <div class="text-center py-4 text-sm opacity-70" >
        <p>{config.icp}</p>
      </div>
    )
  }
</footer>
